* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181818;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.nav-item {
  padding: 1rem;
  text-decoration: none;
  color: #f8f8f8;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease, color 0.2s ease;
  font-size: 1.2rem;
}

.nav-item:hover {
  border-bottom: lightseagreen;
  color: lightseagreen;
}

.nav-item.active {
  border-bottom: lightseagreen;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #222;
  color: #f8f8f8;
}

.form-input:focus {
  outline: none;
  border-color: lightseagreen;
}

.form-button {
  padding: 0.5rem 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}

.form-button:hover {
  background-color: lightseagreen;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s ease, color 0.2s ease
}

.dropdown-toggle:hover {
  color: lightseagreen;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
  color:white;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-arrow:hover {
  color: lightseagreen;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: lightseagreen;
  border-radius: 4px;
  transition: 0.2s ease, color 0.2s ease
}

.dropdown-divider {
  border-top: 1px solid #ddd;
}
