<nav class="navbar">
  <ul class="nav-list">
    <li>
      <a href="/" class="nav-item active">Today</a>
    </li>
    <li>
      <a href="/" class="nav-item active">Hourly</a>
    </li>
    <li>
      <a href="/" class="nav-item active">7-Day</a>
    </li>
  </ul>


  @if (loggedIn) {
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" (click)="toggleDropdown()">
        Welcome {{ model.username }}
      </a>

      <span class="dropdown-arrow" [class.rotate]="isDropdownOpen" (click)="toggleDropdown()">▼</span>

      <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}">
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
  }

  @if(!loggedIn) {
  <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">
    <input name="username"
           [(ngModel)]="model.username"
           class="form-input"
           placeholder="Username">
    <input name="password"
           [(ngModel)]="model.password"
           class="form-input"
           placeholder="Password"
           type="password">
    <button class="form-button" type="submit">Login</button>
  </form>
  }
</nav>
