<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Weather</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="weather-container">
        <h2>Weather for {{ location }}</h2>
        <div class="weather-info">
          <div class="weather-details">
            <h3>{{ weather.condition }}</h3>
            <p>Date:                {{ weather.dateTime     }}</p>
            <p>Low Temperature:     {{ weather.lowTemp      }}°F</p>    
            <p>High Temperature:    {{ weather.tempHigh     }}°F</p>
            <p>Feels Like:          {{ weather.feelsLike    }}°F</p>
            <p>Wind Speed:          {{ weather.windSpeed    }} mph</p>
            <p>Wind Direction:      {{ weather.windDir      }}</p>
            <p>Sunrise Time:        {{ weather.sunrise      }}</p>
            <p>Sunset Time:         {{ weather.sunset       }}</p>
            <p>Humidity:            {{ weather.humidity     }}%</p>
            <p>Description:         {{ weather.description  }}</p>
            <p>Average:             {{ weather.average      }} °F</p>
          </div>
        </div>
      </div>
</body>