
<form #registerForm="ngForm" (ngSubmit)="register(user)" class="form">

  <div class="title">Welcome</div>
  <div class="subtitle">Let's create your account</div>

  <div class="input-container ic1">
    <label class="label" for="username">Username:</label>
    <div class="cut"></div>
    <input
      class="input"
      type="text"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      required>
  </div>

  <div class="input-container ic2">
    <label class="label" for="password">Password:</label>
    <div class="cut"></div>
    <input
      class="input"
      type="password"
      id="password"
      name="password"
      [(ngModel)]="user.password"
      required>
  </div>

  <div class="input-container ic2">
    <label class="label" for="firstname">First Name:</label>
    <div class="cut"></div>
    <input
      class="input"
      type="text"
      id="firstname"
      name="firstname"
      [(ngModel)]="user.firstName"
      required>
  </div>

  <div class="input-container ic2">
    <label class="label" for="lastname">Last name:</label>
    <div class="cut"></div>
    <input
      class="input"
      type="text"
      id="lastname"
      name="lastname"
      [(ngModel)]="user.lastName"
      required>
  </div>

  <div class="input-container ic2">
    <label class="label" for="email">Email:</label>
    <div class="cut cut-short"></div>
    <input
      class="input"
      type="text"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required>
  </div>

  <div class="location-container">
    <div class="input-container ic2">
      <label class="label" for="city">City:</label>
      <div class="cut"></div>
      <input
        class="input"
        type="text"
        id="city"
        name="city"
        [(ngModel)]="newLocation.city"
        required>
    </div>

    <div class="input-container ic2">
      <label class="label" for="state">State:</label>
      <div class="cut"></div>
      <select
        class="input"
        id="state"
        name="state"
        [(ngModel)]="newLocation.state"
        required>
        <option value="" disabled>Select a state</option>
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>
    </div>
    <button class="add-location-btn" type="button" (click)="addLocation()">Add Location</button>
  </div>

  <button class="form-btn" type="submit">Submit</button>
  <button class="form-btn" type="submit" (click)="cancel()">Cancel</button>
</form>
